<!doctype html>
<html>
<head>
<title>Page: {{page}}</title>
<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
  <h1 style="margin: 0;">Bitcoin Private Key Database</h1>
  <form action="/search" method="get" style="display: flex; align-items: center;">
    <input type="text" name="address" placeholder="Search by Address" style="padding: 5px; margin-right: 10px; width: 300px;" required>
    <button type="submit" style="padding: 5px 10px;">Search</button>
  </form>
</div>
<h3>Page {{page}} of {{max_pages}}</h3>
<p>
<a href="{{page-1}}">previous</a> - <a href="{{page+1}}">next</a>
</p>
<table>
  <thead>
    <th>Private Key</th>
    <th>Address</th>
    <th>Compressed Address</th>
  </thead>
  <tbody>
{% for row in page_elements %}
    <tr>
      <td><a href="/key/{{ row[0] }}" title="{{ row[0] }}">{{ row[1] }}</a></td>
      <td><a href="https://blockchain.info/address/{{ row[2] }}">{{ row[2] }}</a></td>
      <td><a href="https://blockchain.info/address/{{ row[3] }}">{{ row[3] }}</a></td>
    </tr>
{% endfor %}
  </tbody>  
</table>
<p>
<a href="{{page-1}}">previous</a> - <a href="{{page+1}}">next</a>
</p>
<hr/>
<p>
Return to the <a href="/">homepage</a> or <a href="javascript:window.history.back()">go back</a>
</p>
<p>
Powered by Black Globe ®<br/>
</p>
</body>
</html>
